<nav>
    <div class="site-title">
        <a href="/"><h1>blog</h1></a>
        <p>a blog.net</p>
    </div>

    <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>