<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>


    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab et id tenetur, veritatis similique minus. Quia praesentium unde ducimus error quasi voluptatibus,
             architecto aut eligendi repellat fuga ex omnis quod.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vero molestiae numquam explicabo asperiores atque quod, 
            excepturi recusandae molestias sint veritatis ullam neque unde fugit reiciendis, illo adipisci nisi eius.</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>